{% extends 'inside.html.twig' %}

{% block title %}New CanalDemande{% endblock %}

{% block main %}
    <h1>Create new CanalDemande</h1>

    {{ include('referentiel/canal_demande/_form.html.twig') }}

    <a href="{{ path('app_canal_demande_index') }}">back to list</a>
{% endblock %}
