{% extends 'inside.html.twig' %}

{% block title %}Modifier Tache{% endblock %}

{% block main %}
    <h1>Modifier Tache</h1>

    {{ include('tache/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_tache_index') }}">back to list</a>

    {{ include('tache/_delete_form.html.twig') }}
{% endblock %}
