{% extends 'inside.html.twig' %}

{% block title %}Edit Permission{% endblock %}

{% block main %}
    <h1>Edit Permission</h1>

    {{ include('referentiel/permission/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_permission_index') }}">back to list</a>

    {{ include('referentiel/permission/_delete_form.html.twig') }}
{% endblock %}
