{% extends 'inside.html.twig' %}

{% block title %}New Permission{% endblock %}

{% block main %}
    <h1>Ajouter Permission</h1>

    {{ include('referentiel/permission/_form.html.twig') }}

    <a href="{{ path('app_permission_index') }}">back to list</a>
{% endblock %}
