{% extends 'inside.html.twig' %}


{% block title %}New SourceDemande{% endblock %}

{% block main %}
    <h1>Create new SourceDemande</h1>

    {{ include('referentiel/source_demande/_form.html.twig') }}

    <a href="{{ path('app_source_demande_index') }}">back to list</a>
{% endblock %}
