{% extends 'inside.html.twig' %}

{% block title %}Create New Utilisateur{% endblock %}

{% block main %}
    <h1>Create New Utilisateur</h1>

    <form method="post">
        <div class="mb-3">
            <label for="matricule" class="form-label">Matricule</label>
            <input type="text" id="matricule" name="matricule" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="nom" class="form-label">Nom</label>
            <input type="text" id="nom" name="nom" class="form-control" required>
        </div>


        <button type="submit" class="btn btn-primary">Create</button>
        <a href="{{ path('app_utilisateur_index') }}" class="btn btn-secondary">Retour</a>
    </form>

{% endblock %}
