{% extends 'inside.html.twig' %}

{% block title %}Activités{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.bootstrap5.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.7/css/responsive.bootstrap5.min.css">
{% endblock %}

{% block main %}
    <h1 class="mb-4">Liste des Activités</h1>

    <a href="{{ path('app_activite_new') }}" class="btn btn-primary mb-3">Créer une nouvelle activité</a>

    <table id="activite-table" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
        <thead>
            <tr>
                <th>Numéro</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.bootstrap5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.7/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.7/js/responsive.bootstrap5.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#activite-table').DataTable({
                "processing": true,
                "serverSide": true,
                "responsive": true,
                "ajax": "{{ path('app_activite_data') }}",
                "columns": [
                    {"data": "id"},
                    {"data": "titre"},
                    {"data": "description"},
                    {"data": "dateDebut"},
                    {"data": "dateFin"},
                    {"data": "statut"},
                    {"data": "actions", "orderable": false}
                ],
                "order": [[0, "desc"]],
                "pageLength": 10,
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Tous"]],
                "dom": "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
                       "<'row'<'col-sm-12'tr>>" +
                       "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                "buttons": [
                    'copy', 'csv', 'excel', 'pdf', 'print', 'colvis'
                ],
                "language": {
                    "emptyTable": "Aucun résultat trouvé",
                    "lengthMenu": "Afficher _MENU_ activités par page",
                    "zeroRecords": "Aucune activité trouvée",
                    "info": "Affichage de _START_ à _END_ sur _TOTAL_ activités",
                    "infoEmpty": "Aucune activité disponible",
                    "infoFiltered": "(filtré parmi _MAX_ activités totales)",
                    "search": "Rechercher:",
                    "paginate": {
                        "first": "Premier",
                        "last": "Dernier",
                        "next": "Suivant",
                        "previous": "Précédent"
                    },
                    "buttons": {
                        "copy": "Copier",
                        "print": "Imprimer",
                        "colvis": "Colonnes visibles"
                    }
                }
            });
        });
    </script>
{% endblock %}