{% extends 'base.html.twig' %}

{% block title %}Edit Statut{% endblock %}

{% block body %}
    <h1>Edit Statut</h1>

    {{ include('referentiel/statut/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_statut_index') }}">back to list</a>

    {{ include('referentiel/statut/_delete_form.html.twig') }}
{% endblock %}
